$winColor: rgb(66, 145, 172);
$loseColor: rgb(194, 73, 73);
.team100, .team200{
    margin: 0 15px; padding: 15px;
    &.wintrue{
        background-color: $winColor;
        .itsYou{
            background-color: scale-color($color: $winColor, $saturation: 1%, $lightness: -20%, $alpha: 50.0%);
        }
    }
    &.winfalse{
        background-color: $loseColor;
        .itsYou{
            background-color: scale-color($color: $loseColor, $saturation: 1%, $lightness: -20%, $alpha: 50.0%);
        }
    }
}
.stats{
    display: flex;
    flex-direction: row;
    width: 40vw;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    .player{
        width: 23vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 5;
    }
    .score{
        width: 10vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;;
    }
}

